<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>Início</title></head>
<body>
<section layout:fragment="content" class="home">
    <h1>Bem-vindo à atrilha</h1>
    <p class="home__lead">
        Trilhe a Lição da Escola Sabatina Juvenil em 10 minutos por dia.
    </p>
    <p class="home__cta">
        <a th:href="@{/comecar}" class="btn btn-primary btn-lg">Começar</a>
    </p>
    <p class="home__cta-secondary">
        <a th:href="@{/login}" class="btn btn-ghost btn-md">Já tenho conta</a>
    </p>
</section>
</body>
</html>
